<div *ngIf="isLoading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="row">
    <img
      [src]="user.avatar"
      class="img-responsive"
      style="max-height: 200px;">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{ user.first_name }} {{ user.last_name }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ user.email }}
    </div>
  </div>
</div>
